/* #countdown_dashboard, #countdown_dashboard2  {
	width: 100%;
	margin: 0 auto;
	height: 50px;
} */

/* @media (min-width:23.5rem) {
	#countdown_dashboard, #countdown_dashboard2  {
		width: 545px;
		margin: 0 auto;
		height: 110px;
	}
} */

#countdown_dashboard2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	/* background-color: black; */
	margin: 2rem 1rem;
}

.dash {
	width: 110px;
	height: 114px;
	/* background: transparent url('../img/dash.png') 0 0 no-repeat; */
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-family: "MuseoCyrl500";
	font-size: 4.5rem;
	font-weight: normal;
	float: left;
	width: 55px;
	line-height: 55px;
	padding-top: 15px;
	text-align: center;
	color: white;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "MuseoCyrl500";
	text-align: center;
	width: 100%;
}

.h2__time {
	text-align: left;
	width: 100%;
	margin: 2rem 0 0 3.5rem;
	font-family: "MuseoCyrl500";
	color: white;
	font-size: 1.2rem;
}

.h2__time_top {
	text-align: center;
	width: 55%;
	margin: 0 1rem;
	color: white;
	font-size: 4.5rem;
}

.dash_top {
	position: relative;
	width: 114px;
	height: 110px;
	background: transparent url('../img/dash.png') 0 0 no-repeat;
	float: left;
	/* margin: 0 auto; */
	text-align: center;
}

.dash_top .digit {
	font-family: "MuseoCyrl500";
	font-size: 4.5rem;
	font-weight: normal;
	float: left;
	width: 50px;
	line-height: 55px;
	padding-top: 15px;
	text-align: center;
	color: white;	
	position: relative;
}

/* @media (min-width: 23.5rem) {
	.h2__time_top {
		width: 55%;
		font-size: 4.5rem;
	}

	.dash_top .digit {
		font-size: 4.5rem;
		width: 55px;
	}

	.dash_top {
		position: relative;
		width: 115px;
		height: 114px;
		margin-left: 20px;
	}
} */

#countdown_dashboard3 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	margin: 0 auto;
	height: 90px;
	background-color: black;
}

.h2__time_menu {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: black;
	font-family: "MuseoCyrl500";
	font-size: 1.5rem;
	margin-top: 2rem;
}

.dash_menu {
	position: relative;
	width: 75px;
	height: 90px;
	background: transparent url('../img/dash.png') 0 0 no-repeat;
	float: left;
	margin: 0 0.5rem;
	text-align: center;
}

.dash_menu .digit {
	font-family: "MuseoCyrl500";
	font-size: 2.5rem;
	font-weight: normal;
	float: left;
	width: 30px;
	line-height: 55px;
	padding-top: 15px;
	text-align: center;
	color: white;
	background-color: black;
	position: relative;
}